<div style="background: url(img/about/1.jpg) no-repeat; background-size: cover;"></div>
<div class="text-content">
    <p>My name is Victoria Meshchaninova. I am a student of Siberial Federal University in Krasnoyarsk. It sounds great,
        right? No, I don’t think so. However we also can do something nice sometimes.
        There is a site with my student portfolio, some of my projects.
        You are welcome! Enjoy! I appreciate each of you.  If you find something interesting for you and understand that
        I could do something for you, – please, write me. I am open for orders, as well as for joint projects.</p>
    <p>Onestly, I have almost no real design experience, I have never worked with a serious customer. So hurry up to be
        my first one!
        Can you just imagine what is it like to entrust your project  to a student who is lost in his enthusiastic
        ideas?
        It always means a lot of fun, I promise:D</p>
</div>