<div style="background: url(img/calligraphy/1.jpg) no-repeat; background-size: cover;"></div>
<div class="text-content">There are several works created by different tools: parallel pen, calligraphy pen, gel pen,
    brush and some others.
    Each of them has its own special rhythm, dinamics and mood, each of them inspires me. I am fascinated by them.</div>
<div style="background: url(img/calligraphy/2.jpg) no-repeat; background-size: cover;"></div>
<div style="background: url(img/calligraphy/3.jpg) no-repeat; background-size: cover;"></div>
<div class="text-content">Calligraphy is a special ritual, it is aesthetics in small things, it is simultaneous
    concentration and relaxation, it is predictability and a new discovery every time.</div>
<div style="background: url(img/calligraphy/4.jpg) no-repeat; background-size: cover;"></div>


