<div style="background-color: rgb(255, 0, 98)">
    <a href="https://www.instagram.com/sandy_gloom/" class="block-link"
        style="background: url(img/contact/in.svg) no-repeat; background-size: 150px; background-position: center center;"></a>
    <div class="block-content">@sandy_gloom</div>
</div>

<div style="background-color: rgb(56, 75, 138)">
    <a href="https://vk.com/id245072606" class="block-link"
        style="background: url(img/contact/vk.svg) no-repeat; background-size: 150px; background-position: center center;"></a>
    <div class="block-content">id245072606</div>
</div>

<div style="background-color: rgb(0, 171, 237)">
    <a href="https://twitter.com/sandyglooom" class="block-link"
        style="background: url(img/contact/tw.svg) no-repeat; background-size: 150px; background-position: center center;"></a>
    <div class="block-content">@sandyglooom</div>
</div>

<div style="background-color: rgb(254, 45, 31)">
    <a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJfnbMPFcqFcqkKsWxxMGqhpNXhltTCwzfGLptWqjhKvjtznqFQgfsWGflCZChmLGcDLpNq" class="block-link"
        style="background: url(img/contact/mail.svg) no-repeat; background-size: 150px; background-position: center center;"></a>
    <div class="block-content">pochutchut1@gmail.com</div>
</div>

<div class="text-content">
    graphic designer<br>
    Victoria Meshchaninova<br>
    student of Siberial Feferal Univercity
    <p>phone number: 8-913-833-77-52</p>
</div>