<div style="background-color: rgb(128, 128, 150)">
    <a href="/calligraphy" class="block-link" style="background: url(img/projects/1.jpg) no-repeat; background-size: cover;"></a>
    <div class="block-content">calligraphy</div>
</div>

<div style="background-color: rgb(177, 178, 191)">
    <a href="/creativeStudio" class="block-link" style="background: url(img/projects/2.jpg) no-repeat; background-size: cover;"></a>
    <div class="block-content">creative studio</div>
</div>

<div style="background-color: rgb(237, 174, 51)">
    <a href="/lightFestival" class="block-link" style="background: url(img/projects/3.jpg) no-repeat; background-size: cover;"></a>
    <div class="block-content">light festival</div>
</div>

<div style="background-color: rgb(195, 0, 40)">
    <a href="/stensilFont" class="block-link" style="background: url(img/projects/4.jpg) no-repeat; background-size: cover;"></a>
    <div class="block-content">stensil font</div>
</div>

<div style="background-color: rgb(17, 1, 108)">
    <a href="/meetInSpace" class="block-link" style="background: url(img/projects/5.jpg) no-repeat; background-size: cover;"></a>
    <div class="block-content">meet in space</div>
</div>

<div style="background-color: rgb(0, 0, 0)">
    <a href="/modularFont" class="block-link" style="background: url(img/projects/6.jpg) no-repeat; background-size: cover;"></a>
    <div class="block-content">modular font</div>
</div>

<div style="background-color: rgb(153, 128, 116)">
    <a href="/tearsForDogs" class="block-link" style="background: url(img/projects/7.jpg) no-repeat; background-size: cover;"></a>
    <div class="block-content">tears for dogs</div>
</div>