.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, calc((100vh - 120px) / 2)) auto;
    grid-template-areas:
        "a a"
        "a a"
        "b b";
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 80px 100px;
}

.grid-container :nth-child(1) {
    grid-area: a;
}
.grid-container :nth-child(2) {
    grid-area: b;
}

.text-content {
    max-width: 500px;
    justify-self: center;
    text-align: center;
}
